<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>homeServlet</servlet-name>
		<servlet-class>controller.home.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userRegisterServlet</servlet-name>
		<servlet-class>controller.user.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userLoginServlet</servlet-name>
		<servlet-class>controller.user.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userDisconnectServlet</servlet-name>
		<servlet-class>controller.user.Disconnect</servlet-class>
	</servlet>	
	
	<servlet>
		<servlet-name>userUpdateServlet</servlet-name>
		<servlet-class>controller.user.Update</servlet-class>
	</servlet>	
	
	<servlet>
		<servlet-class>controller.importCSV.ImportCSV</servlet-class>
		<servlet-name>importServlet</servlet-name>
	</servlet>	
	
	<servlet>
		<servlet-class>controller.library.Library</servlet-class>
		<servlet-name>libraryServlet</servlet-name>
	</servlet>
	
	<servlet>
		<servlet-name>personalLibraryServlet</servlet-name>
		<servlet-class>controller.library.PersonalLibrary</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>userAdminListUser</servlet-name>
		<servlet-class>controller.user_admin.ListUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>flagRecordServlet</servlet-name>
		<servlet-class>controller.library.FlagRecord</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>unflagRecordServlet</servlet-name>
		<servlet-class>controller.library.UnflagRecord</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ownRecordServlet</servlet-name>
		<servlet-class>controller.library.OwnRecord</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>unownRecordServlet</servlet-name>
		<servlet-class>controller.library.UnOwnRecord</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>userAdminAdd</servlet-name>
		<servlet-class>controller.user_admin.Add</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>userAdminUpdate</servlet-name>
		<servlet-class>controller.user_admin.Update</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>userAdminDelete</servlet-name>
		<servlet-class>controller.user_admin.Delete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>detailRecordServlet</servlet-name>
		<servlet-class>controller.library.RecordDetails</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>detailTrackServlet</servlet-name>
		<servlet-class>controller.library.TrackDetails</servlet-class>
	</servlet>
	


	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userRegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userLoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userDisconnectServlet</servlet-name>
		<url-pattern>/user-disconnect</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userUpdateServlet</servlet-name>
		<url-pattern>/user-update</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>importServlet</servlet-name>
		<url-pattern>/importcsv</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>libraryServlet</servlet-name>
		<url-pattern>/library</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>personalLibraryServlet</servlet-name>
		<url-pattern>/personal_library</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userAdminListUser</servlet-name>
		<url-pattern>/user-admin-list</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>flagRecordServlet</servlet-name>
		<url-pattern>/flag_record</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>unflagRecordServlet</servlet-name>
		<url-pattern>/unflag_record</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ownRecordServlet</servlet-name>
		<url-pattern>/own_record</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>unownRecordServlet</servlet-name>
		<url-pattern>/unown_record</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>userAdminAdd</servlet-name>
		<url-pattern>/user-admin-add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userAdminUpdate</servlet-name>
		<url-pattern>/user-admin-update</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userAdminDelete</servlet-name>
		<url-pattern>/user-admin-delete</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>detailRecordServlet</servlet-name>
		<url-pattern>/record_details</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>detailTrackServlet</servlet-name>
		<url-pattern>/track_details</url-pattern>
	</servlet-mapping>
	

	<filter>
		<filter-name>ConnectedFilter</filter-name>
		<filter-class>util.ConnectedFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ConnectedFilter</filter-name>
		<url-pattern>/user-disconnect</url-pattern>
		<url-pattern>/user-update</url-pattern>
	</filter-mapping> 

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>